@charset "UTF-8";

.footer {
    background-color: #0066cc;
    color: white;
    padding: 25px 40px;
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
}

.footer a {
    color: #dff6ff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}
